body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
nav, footer {
    background-color: #0462b1;
}

nav h1 {
    font-family: serif;
    font-weight: 600;
    text-transform: uppercase;

}

nav sub {
    bottom: -0.55em;
    font-size: 1.5rem;
    left: -1em;
}

.red {
    color: #ff4444;
}

header {
    background: linear-gradient( rgba(247, 249, 255, 0.02), rgba(4, 98, 177, 0.88) );
    border-bottom: 3px #ff4444 solid;
    padding: 114px 0 80px;
}

header h1 {
    color: #ff4444;
    font-family: 'Arvo', serif;
    font-weight: 700;
}

.blue-h2 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: #368de4!important;
    border-bottom: 2px #ff4444 solid!important;
}

#gore {
    padding: 0;
    width: 94%;
}

#gore img {
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}

#right-block {
    background-color: #f8f9fa;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    width: 94%;
}

#right-block a {
    text-transform: uppercase;
}

#right-block a:first-of-type {
    background-color: #ff4444;
    color: white;
}

#right-block a:first-of-type:hover {
    background-color: #b32222;
}

#right-block a:nth-of-type(2) {
    border-color: #368de4;
    border-width: 2px;
    color: #368de4;
}

#right-block a:nth-of-type(2):hover {
    background-color: #368de4;
    color: white;
}

#cta-bar {
    background-color: #b3b4b5;
    bottom: 46px;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
    margin: auto;
}

#cite {
    font-family: 'Arvo', serif;
    font-size: .9rem;
}

#pitch {
    padding: 0 2rem;
}

#pitch p {
    font-size: 1.1rem;
}

#new-r {
    background-color: #efeeeb;
}

#tweets {
    margin: .7rem 0;
}

#text-div button{
    background-color: #368de4;
    border-bottom-right-radius: .25rem!important;
    border-color: #368de4;
    border-top-right-radius: .25rem!important;
    border-width: 2px;
    color: white;
}

#text-div button:hover{
    background-color: white;
    color: #368de4;
}

#text-div h2 {
    color: #368de4!important;
    font-family: 'Arvo', serif;
    font-weight: 700;
}

#text-div hr {
    background-color: #ff4444;
    border: none;
    height: 2px;
    margin: .5rem 0;  
    width: 60%;
}

#text-div p {
    color: #00000099;
    text-align: center;
    font-size: 0.85rem;
}

#text-div input {
    border: none!important;
    border-bottom-left-radius: .25rem!important;
}

#text-div {
    padding-top: 2.75rem;
}

#text-div .input-group {
    width: 60%;
}

#contact-form {
    border: none;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}
 
input, textarea {
    border: none!important;
    border-bottom: 2px #ff4444 solid!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;

}

footer hr {
    width: 24%;
    border: none;
    height: 2px;
    background-color: #ff4444;
    margin: .5rem auto;
}

footer p {
    color: white;
}

footer i {
    color: #007bff;
    margin: 2px;
}

footer i:hover {
    color: white;
}

@media (max-width: 1200px) {
    #right-block {
        padding-top: .75rem;
    }
    #right-block h1 {
        font-size: 1.5rem;
    }
}


@media (max-width: 991px) {
    #gore img {
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
        border-top-right-radius: .25rem!important;
        margin: auto;

    }
    #right-block {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: auto;
        padding-bottom: .75rem;

    }
    nav h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    #right-block {
        padding: .75rem 8%;
        width: 100%;
    }
    #gore {
        width: 100%;
    }
    h2 {
        font-size: 1.5rem;
    }
    #text-div .input-group, #text-div hr {
        width: 94%;
    }
    #text-div .input-group p {
        padding: .75rem;
    }
}